<div class="logo">
    <img src="/images/noun_Tent_2517.svg" alt="tent image for logo" />
    <a href="/index.html"> Sleep<span class="highlight">Outside</span></a>
</div>
<div class="cart">
    <a href="/cart/index.html" aria-label="Shopping cart">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" width="32"
            height="32">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13l-1.35 2.7A1 1 0 007.53 17h8.94a1 1 0 00.88-.53L21 9M7 13l1.2 6m7.6-6l-1.2 6M9 21h.01M15 21h.01" />
        </svg>
    </a>
</div>