<div class="logo">
    <img src="/images/noun_Tent_2517.svg" alt="tent image for logo" />
    <a href="/index.html"> Sleep<span class="highlight">Outside</span></a>
</div>
<div class="cart">
    <a href="/cart/index.html">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
            class="w-7 h-7 text-purple-700">
            <path stroke-linecap="round" stroke-linejoin="round"
                d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437m0 0L6.75 14.25h10.5l2.25-8.978H5.106m0 0L4.5 4.5m2.25 15.75a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm11.25 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
        </svg>
    </a>

</div>